@import './_var';
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800,900');
* {
  // font-family: Nunito Sans;
  font-family: Maven Pro;
}

.ornament-left {
  @include size(355px , 537px);
  position: absolute;
  top: 0;
  left: 0;
  background: url('../../img/ornament-left.svg');
  opacity: .2;
  z-index: 0;
}
.ornament-right {
  @include size(285px , 294px);
  position: absolute;
  top: 0;
  right: 0;
  background: url('../../img/ornament-right.svg');
  opacity: .2;
  z-index: 0;
}
.full-searchbar , .full-login-container{
  @include size(100% , 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  // background: url('../img/img.jpg') no-repeat;
  opacity: 1;
  transition: all .6s ease;
  // background-blend-mode: multiply, normal;
  // mix-blend-mode: darken;
  // filter: blur(7px);
  // filter: blur(3px);
  overflow: hidden;
  transform: translateY(-100%);
  &::before {
    content: "";
    @include size(100% , 100%);
    position: absolute;
    top: 0;
    left: 0;
    background: whitesmoke;
    opacity: .95;
  }
  &.active {
    transform: translateY(0);
  }
  .close {
    @include size(20px , 20px);
    position: absolute;
    top: 30px;
    right: 30px;
    background: url('../img/delete.svg') no-repeat;
    background-size: cover;
  }
 .container-jumbo--search {
    @include size(509px , 100px);
    // background: yellow;
    @include center;
    top: 30%;
    margin: 0 auto;
    &.login { height: 210px; }
    .jumbo-search--control {
      @include size(412px , 41px);
      border-radius: 30px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 0;
      border: none;
      box-shadow: 0px 3px 2px rgba(0,0,0,0.14);
      &:focus { outline: none; padding-left: 30px; }
    }
    .username-input { 
      @include size(412px , 41px);
      border-radius: 30px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 0;
      border: none;
      box-shadow: 0px 3px 2px rgba(0,0,0,0.14);
      top: 0; 
      padding-left: 20px;
      &::placeholder {
        // padding-left: 20px;
      }
      &:focus {
        outline: none;
      }
    }
    .password-input { 
      @include size(412px , 41px);
      border-radius: 30px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 0;
      border: none;
      box-shadow: 0px 3px 2px rgba(0,0,0,0.14);
      bottom: 0; 
      padding-left: 20px;
      &::placeholder {
        // padding-left: 20px;
      }
      &:focus {
        outline: none;
      }
    }
    .search-btn {
      display: block;
      @include size(80px , 41px);
      background: $secondary-color;
      // background: $third_color;
      border-radius: 30px;
      position: absolute;
      right: 0;
      bottom: 0;
      @include flex-center;
      color: white;
      font-weight: bold;
      font-size: 14px;
      box-shadow: 0px 3px 2px rgba(0,0,0,0.14);
    }
    .login-btn { 
      display: block;
      @include size(80px , 41px);
      background: $secondary-color;
      // background: $third_color;
      border-radius: 30px;
      position: absolute;
      @include flex-center;
      color: white;
      font-weight: bold;
      font-size: 14px;
      box-shadow: 0px 3px 2px rgba(0,0,0,0.14);
      bottom: -60px; 
      left: 0px; 
    }
    .text {
      font-size: 36px;
      color: $secondary-color;
      font-weight: bold;
      &.text-login { position: absolute; top: -60px; }
    }
  }
}

.back-btn {
  display: block;
  @include size(80px , 41px);
  // background: $secondary-color;
  // background: $third_color;
  border-radius: 30px;
  position: absolute;
  left: 0;
  bottom: -40px;
  @include flex-center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  // box-shadow: 0px 3px 2px rgba(0,0,0,0.14);
}

#home {
  &.active {
    filter: blur(7px);
  }
}

.first-screen {
  @include size(100% , 100%);
  position: fixed;
  top: 0;
  left: 0;
  background: url('https://images.pexels.com/photos/725910/pexels-photo-725910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat;
  background-size: cover;
  z-index: 200;
  transition: all .4s ease;
  display: none;
  .background {
    @include size(2000px , 100%);
    // background: url('https://images.pexels.com/photos/725910/pexels-photo-725910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat;
    background-size: cover;
    z-index: -2;
    &::before {
      content: '';
      @include size(100% , 100%);
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($color: #102D4A , $alpha: 0.68);
      z-index: -1;
    }
  }
  &.hide {
    transform: translateY(-100%);
  }
  &.show {
    transform: translateY(0);
  }

  .btn-next {
    @include size(158px , 41px);
    border-radius: 30px;
    background-color: white;
    @include flex-center;
    color: #102D4A;
    font-weight: bold;
    @include center-horizontal;
    bottom: 100px;
  }

  .container-top {
    @include size(426px , 209px);
    @include center-horizontal;
    top: 100px;
    .logo {
      @include size(312px , 94px);
      background: url('../img/logo.svg') no-repeat;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .text {
      font-size: 14px;
      color: white;
      text-align: center;
      line-height: 20px;
    }
  }
}


.footer {
  @include size(100% , 40px);
  position: absolute;
  bottom: 0;
  left: 0;
  background: $secondary-color;
  z-index: 5;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
}


.ornament-footer {
  @include size(100% , 341px);
  // background: $secondary-color;
  z-index: 4;
  position: absolute;
  left: 0;
  bottom: 40px;
  opacity: .9;
  overflow: hidden;
  .city {
    @include size(300% , 100%);
    position: absolute;
    left: 0;
    top: 0;
    background: url('../../img/city-11.svg');
  }
  &.active { z-index: -1; }
}

.navbar-top {
  @include size(100% , auto);
  color: white;
  position: absolute;
  top: 40px;
  right: 45px;
  display: flex;
  justify-content: flex-end;
  a {
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: maven pro;
    font-size: 12px;
    z-index: 20;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.container-search {
  @include size(100% , 50px);
  border-bottom: 1px solid rgba($color: white, $alpha: 0.3);
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  transition: all .7s ease;
  &.hide {
    transform: translateY(-40px);
    opacity: 0;
  }
  .search-control {
    width: 100%;
    position: absolute;
    bottom: 0;
    // left: 30px;
    padding: 10px 0px;
    background: transparent;
    border: none;
    color: white;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba($color: white, $alpha: 0.7);
      font-style: italic;
    }
  }
}